*{
  padding: 0px;
  margin: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(226, 226, 226);
  align-items: center;
  min-height: 90vh;
  padding-top: 30px;
  padding-bottom: 30px;
}


/*<------------------ CSS For ItemForm.jsx -----------------> */

.itemsForm{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.form-input{
  text-decoration: none;
  width: 300px;
  padding: 10px;
  border: none;
  /* border-radius: 10px; */
  /* border-color: steelblue; */
}
.form-input:focus{
  outline: none;
}

.form-Add-btn{
  background-color: rgb(115, 115, 234);
  font-weight: 500;
  color: white;
  border: none;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s;
}
.form-Add-btn:hover{
  background-color: rgb(21, 21, 213);
}

/*<------------------------ CSS FOR ItemsList.jsx ------------------------> */

.items-List{
  margin-top: 50px;
  width: 100%;
  max-width: 730px;
  align-items: center;
  text-align: left;
  
}

.list-container{
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.result-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 0.5s;
  border-bottom: 1.5px solid rgb(210, 209, 209);
}
.result-container:hover{
  background-color: rgb(228, 227, 227);
}
.result{
  margin: 0px 10px;
  max-width: 70%;
  white-space: initial;
  word-wrap: break-word
}

.list-item{
  text-decoration: none;
}
.edit-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  padding:10px 0px;
}

.edit-btn, .delete-btn, .save-btn, .cancle-btn{
  width: 70px;
  margin: 0px 10px;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;  
  font-weight: 500;
  transition: all 0.5s;
}
.edit-btn{
  background-color: rgb(38, 192, 38);
}
.edit-btn:hover{
  background-color: rgb(7, 139, 7);
}
.delete-btn{
  background-color: rgb(249, 108, 108);
}
.delete-btn:hover{
  background-color: rgb(185, 6, 6);
}
.save-btn, .cancle-btn{
  background-color: rgb(115, 115, 234);
  font-weight: 500;
}
.edit-input{
  text-decoration: none;
  padding: 6px;
  margin: 0px 10px;
  border-color: steelblue;
  min-width: 200px;
}

.edit-input:focus{
  outline:none;
}
.footer{
  text-align: center;
  padding: 10px;
  background-color: rgb(56, 54, 54);
  color: white;
}

/* <-------------------------Media Query for Mobile Layout------------------------------> */

@media (max-width:770px){
  .itemsForm{
    flex-direction: column;
  }

  .items-List{
    max-width : 340px;
  }
  .form-Add-btn{
    width: 100%;
  }

  .edit-item{
    flex-direction: column;
    gap: 20px;
  }
  .edit-input{
    width: 300px;
    margin: 5px 0px;
  }
  .result-container{
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .result{
    max-width: 90%;
  }
}